{% extends 'layouts/layout.html' %}
{% load static %}

{% block title %}
  Signin |
{% endblock %}

{% block navbar %}

{% endblock %}

{% block body %}
  <div class="flex flex-row justify-center items-center bg-gray-900 h-screen">
    <div class="mx-auto flex flex-col justify-center px-5 pt-0 md:max-w-1/2 lg:max-w-1/2">
      <a class="mt-10 text-white" href={% url "app:index_view" %}>
        <div class="flex items-center">
          <svg stroke="currentColor" fill="currentColor" viewBox="0 0 320 512" class="mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"></path>
          </svg>
          <p class="text-sm">Back to the website</p>
        </div>
      </a>
      <div class="my-auto flex flex-col w-full max-w-sm mx-auto mt-8">
        <p class="text-3xl font-bold text-white">Sign In</p>
        <p class="mt-2 mb-4 text-zinc-400">Enter your email and password to sign in!</p>
        <div class="mt-8">
          <div class="pb-2">
            <input type="hidden" name="provider" value="google" />
            <button class="flex items-center justify-center w-full h-10 px-4 text-sm font-medium text-white bg-gray-800 border border-gray-700 rounded-md hover:bg-gray-700 transition" type="submit">
              <span class="mr-2">
                <img src={% static "images/Google.svg" %} alt="Google Logo" class="h-5 w-5" >
              </span>
              <span>Google</span>
            </button>
          </div>
          <div class="pb-2">
            <input type="hidden" name="provider" value="github" />
            <button class="flex items-center justify-center w-full h-10 px-4 text-sm font-medium text-white bg-gray-800 border border-gray-700 rounded-md hover:bg-gray-700 transition" type="submit">
              <span class="mr-2">
                <img src={% static "images/Github.svg" %} alt="Github Logo" class="h-5 w-5" >
              </span>
              <span>Github</span>
            </button>
          </div>
        </div>
        <div class="relative my-4">
          <div class="flex items-center">
            <div class="flex-grow border-t border-gray-700"></div>
            <span class="mx-2 text-zinc-400">OR</span>
            <div class="flex-grow border-t border-gray-700"></div>
          </div>
        </div>
        <div>
          <form class="mb-4">
            <div class="grid gap-4">
              <div>
                <label class="text-white mb-3" for="email">Email</label>
                <input class="w-full h-12 rounded-lg border border-gray-700 bg-gray-800 my-1 px-4 py-3 text-sm text-white placeholder:text-zinc-400 focus:outline-none" id="email" placeholder="name@example.com" type="email" name="email" required />
              </div>
              <div>
                <label class="text-white mb-3" for="password">Password</label>
                <input class="w-full h-12 rounded-lg border border-gray-700 bg-gray-800 my-1 px-4 py-3 text-sm text-white placeholder:text-zinc-400 focus:outline-none" id="password" placeholder="Password" type="password" name="password" required />
              </div>
            </div>
            <button class="mt-4 w-full h-10 px-4 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-500 transition" type="submit">Sign in</button>
          </form>
          <p class="font-light text-white text-sm">
            <a href="#" class="font-bold hover:underline">Forgot password?</a>
          </p>
          <p class="font-light text-white text-sm">
            Don't have an account? <a href={% url "app:signup" %} class="font-bold hover:underline">Sign up</a>
          </p>
        </div>
      </div>
    </div>
    <div class="w-3/2 h-screen hidden lg:block">
      <video autoplay muted loop class="object-cover w-full h-full">
        <source src="{% static 'videos/video.mp4' %}" type="video/mp4" />Your browser does not support the video tag.
      </video>
    </div>
  </div>
{% endblock %}
